apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app
  namespace: mern-stack
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: rajibul2009/mern-frontend-app:latest
        ports:
        - containerPort: 5000
        env:
        - name: VITE_API_URL
          value: "http://backend-service:3000/api"
        - name: NODE_ENV
          value: "production"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10